<html>
    <head>
        <title>crop-selection</title>
        <link rel="stylesheet" href="/static/crops.css">
    </head>
    <body>
        <p><strong>🟫choose best crop for your soil type🟫</strong></p><br><br>
        <form action="/crop-select" method="post">
            <label for="soil">select soil type : </label>
            <select id="soil" name="soil">
                <option value="sandy soil">sandy soil</option>
                <option value="clay soil">clay soil</option>
                <option value="saline soil">saline soil</option>
                <option value="peaty soil">peaty soil</option>
                <option value="alkaline soil">alkaline soil</option>
                <option value="alluvial soil">alluvial soil</option>
                <option value="loamy soil">loamy soil</option>
                <option value="black soil">black soil</option>
                <option value="red soil">red soil</option>
                <option value="laterite soil">laterite soil</option>
                <option value="mountain soil">mountain soil</option>
                <option value="silt soil">silt soil</option>
                <option value="desert soil">desert soil</option>
                <option value="marshy soil">marshy soil</option>
            </select>
            <br> <br>

            <br><button>
                submit
            </button>
        </form>
        <br><br><br><br><br>
        <table>
            <thead>
                <tr>
                    {% for col in columns %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        {% for col in columns %}
                            <td>{{ row[col] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>  
</html>