<html>
    <head>
       <title>home</title>
       <link rel="stylesheet" href="../static/styles.css">
    </head>

    <body>
        <div>
            <!--navigation bar-->
            <div class="navbar">
                <div class="nav-icon">
                        <a href="/home">home</a>
                </div>
                
                <div class="nav-icon">
                    <a href="/crop-select">crop selection</a>
                </div>

                <div class="nav-icon">
                    <a href="/crop-details">crop details</a>
                </div>

                <div class="nav-icon">
                    <a href="/terrace">terrace garden</a>
                </div>             

                <div class="nav-icon">
                    <a href="/profit">profit/loss</a>
                </div>
            
                <div class="nav-icon">
                    <a href="/query">query/contact</a>
                </div>

                <div class="nav-icon">
                    <a href="/feedback">feedback</a>
                </div>

                <div class="nav-icon">
                    <a href="/admin">admin</a>
                </div>
            </div>

            <!--main box-->
            <div class="main">
                <p class="heading"><strong>
                    !!Welcome to World of Agriculture!!
                </strong></p>
                
                <!--quotes-->
                <div class="quote-box">
                    <p class="content">
                       "The ultimate goal of farming is not the growing of crops, but the cultivation and perfection of human beings." 
                   </p>

                    <p class="author">
                        - Michael Loewe 
                    </p>
                </div>
                
                <p class="help">learn more about farming with us.
                    we are here to help you &#129309
                </p>
            </div>

        </div>
    </body>
</html>