<html>
    <head>
        <title>query/contact</title>
        <link rel="stylesheet" href="../static/query.css">
    </head>
    <body>
        <p><strong>❓QUERY❓</strong></p>
        <form action="/query" method="post">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="rishi" class="a" required><br>

            <br><label for="phno">Phone Number</label>
            <input type="text" id="phno" name="phno" placeholder="1234567890" class="b" required><br>

            <br><label for="query">ask our doubts</label>
            <textarea id="query" name="doubt" placeholder="type your doubts..." class="c"></textarea>
            <button>send</button>
        </form>

        <!--contact-->
        
            <p class="contact">📞Contact Details📞</p>
        
            <div class="number">
                <p class="num">Number: 73483437463 / 04364-222652</p>
            </div>

            <div class="mail">
                <p class="id">Email ID:agrilonglive@gmail.com</p>
            </div>

            <br>

            <br><div class="icons">
                <div class="insta">
                    <a href="https://www.instagram.com/">
                        <img src="../images/insta.jpeg">
                    </a>
                </div>

                <div class="face">
                    <a href="https://www.facebook.com/">
                        <img src="../images/facebook.jpeg">
                    </a>
                </div>

                <div class="lin">
                    <a href="https://in.linkedin.com/?mcid=6844056167778418689&src=go-pa&trk=sem-ga_campid.14650114788_asid.150089839322_crid.656569072783_kw.linkedin%20com_d.c_tid.kwd-2246447702_n.g_mt.e_geo.1007809&cid=&gad_source=1&gad_campaignid=14650114788&gbraid=0AAAAABKX7wEpvX2z8iv6aMXHpiDyebd5a&gclid=CjwKCAjwruXBBhArEiwACBRtHVkRMravH-uCew71l9TH-X8zwlau5k6ulHjQQGk-TsyIqJdxZVfn5xoC-CkQAvD_BwE&gclsrc=aw.ds">
                        <img src="../images/linkedin.png">
                    </a>
                </div>

                <div class="tweet">
                    <a href="https://x.com/">
                        <img src="../images/twitter.png">
                    </a>
                </div>
            </div>
            
        
        
    </body>
</html>