body{
    background-color:rgb(176, 242, 176) ;
}

.a{
    font-size:38px;
    margin-left:350px;
}

.b{
    font-size:32px;
    margin-left:500px;
}

.b input{
    width:300px;
    font-size:20px;
    padding:10px 10px;
}

.b button{
    padding:10px 10px;
    font-size:30px;
    margin-left:50px;
    border-radius:5px;
    background-color: rgb(84, 7, 40);
    color:white;
}

textarea{
    width:350px;
    height:200px;
    vertical-align:top;
}